<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Pic of the Day</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/changepic.css')}}">


</head>
<body>
    <h2>Upload New Picture for Pic of the Day</h2>
    <form action="/update-potd" method="POST" enctype="multipart/form-data">
        <label for="newPic">Select New Picture:</label>
        <input type="file" id="newPic" name="newPic" accept="image/*" required>
        <button type="submit">Change Picture</button>
    </form>

    <section>
        <h2>Upload New Carousel Picture</h2>
        <form action="/update-carousel" method="POST" enctype="multipart/form-data">
            <label for="category">Select Category:</label>
            <select id="category" name="category" required>
                <option value="senior-pic">Senior Portraits</option>
                <option value="headshot-pic">Head Shots</option>
                <option value="infant-pic">Infant & Baby</option>
                <option value="landscape-pic">Landscapes</option>
                <option value="pets-pic">Pets</option>
                <option value="sp-event-pic">Special Events</option>
                <option value="sports-pic">Sports</option>
            </select>

            <label for="newCarousel">Select New Picture:</label>
            <input type="file" id="newCarousel" name="newCarousel" accept="image/*" required>
            <button type="submit">Upload Picture</button>
        </form>
    </section>
    <section>
        <h2>Current Images</h2>
        {% for category, images in images_by_category.items() %}
            <h3>{{ category }}</h3>
            <div>
                {% for image in images %}
                    <div style="display: inline-block; text-align: center; margin: 10px;">
                        <img src="{{ url_for('static', filename=image) }}" alt="{{ image }}" width="150">
                        <form action="/delete-pic" method="POST" style="display: inline;">
                            <input type="hidden" id="newCarousel" name="newCarousel" value="{{ image }}">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </section>

    
</body>
</html>
